@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Gemunu+Libre:wght@400;700&family=Josefin+Sans&family=Open+Sans&family=Ubuntu:wght@400;500;700&display=swap");
/*! base css start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}

/*! base css end */

.navbar {
  background-color: #000;
  height: 60px;
  color: white;
  position: sticky;
  top: 0;
}
.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}
.logo {
  color: rgb(255, 70, 70);
  font-size: 30px;
  font-family: "Electrolize", sans-serif;
}
.menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  column-gap: 30px;
}
.menu-list-item {
  cursor: pointer;
}
.menu-list-item:hover {
  font-weight: bold;
}

.menu-list-item:nth-child(1) {
  font-weight: bold;
}
.sidebar {
  background-color: #000;
  color: white;
  height: 100%;
  width: 60px;
}
